pipeline/P_SQL_TO_ADLS.json
{
	"name": "P_SQL_TO_ADLS",
	"properties": {
		"activities": [
			{
				"name": "L_get_tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQLDB_PIPELINE_PARAMETER",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_Iteration_Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "L_get_tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('L_get_tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "C_SQL_to_LAKE",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "USE @{item().table_catalog} SELECT * FROM @{item().Table_name}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQLSERVER",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS2",
									"type": "DatasetReference",
									"parameters": {
										"table_catalog": {
											"value": "@{item().table_catalog}",
											"type": "Expression"
										},
										"table_name": {
											"value": "@{item().table_name}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "OnPremSQL_to_ADLS2"
		},
		"annotations": [],
		"lastPublishTime": "2025-11-24T06:31:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}