pipeline/switch_in_forEach.json
{
	"name": "switch_in_forEach",
	"properties": {
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from [Dimension].[Customer];",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServer_Onprem",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@pipeline().parameters.SSIS_Project",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Pearson_ETL_Staging",
										"activities": [
											{
												"name": "Wait1",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 15
												}
											}
										]
									},
									{
										"value": "Finance_ETL_Incremental",
										"activities": [
											{
												"name": "Web1",
												"type": "WebActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"method": "GET",
													"url": "https://formatjsononline.com/api/users",
													"connectVia": {
														"referenceName": "AutoResolveIntegrationRuntime",
														"type": "IntegrationRuntimeReference"
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Fail1",
										"type": "Fail",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"message": "user error ",
											"errorCode": "103"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Fail2",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "operation failed",
					"errorCode": "3098"
				}
			}
		],
		"parameters": {
			"SSIS_Project": {
				"type": "string",
				"defaultValue": "default"
			}
		},
		"folder": {
			"name": "Repro_2602050040005348"
		},
		"annotations": [],
		"lastPublishTime": "2026-03-01T20:51:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}